@font-face {
  font-family: 'sst';
  src: url('../assets/fonts/SSTLight.TTF');
}

@font-face {
  font-family: 'sst-bold';
  src: url('../assets/fonts/SSTMedium.TTF');
}

$__body__font__family: 'sst', Arial, sans-serif;
$__body__font__bold_family: 'sst-bold', Arial, sans-serif;
