.navbar {
  position: fixed;
  width: 100%;
  height: 4rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $__main;

  &--primary-search {
    position: absolute;
    left: 4rem;
  }
  &--primary-logo {
    width: 40px;
    height: 30px;
  }
}

.primary--search--toggler {
  > img {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (min-width: 700px) {
  .navbar--primary {
    &-search {
      left: auto;
      right: 1rem;
    }
    &-logo {
      position: absolute;
      left: 1.5rem;
    }
    &-sign {
      margin-right: 2.25rem;
    }
  }
}
