.search--modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.search--modal-container {
  position: relative;
  height: 6rem;
  padding: 0.5rem 0 0;
  color: $__grey600;

  background-color: $__main;
}

.search--modal {
  &-toggler {
    margin: 0.5rem 1rem;
  }
}

.search--form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-icon {
    margin: 0.5rem;
  }
  &-input {
    flex: 1;
    display: flex;

    > input {
      font-family: $__body__font__family;
      color: $__sub;
    }
  }
}

.search--form {
  &-input,
  &-select {
    flex: 1;
  }
}

/* Custom select */
.search--form-select {
  padding-left: 4rem;
  font-size: 0.8rem;
}

.search--select-placeholder {
  text-align: start;
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: url('../../../assets/images/icon/navbar/expand_more.svg');
    background-image: url('../../../assets/images/icon/navbar/expand_more-blue.svg');
    position: absolute;
    right: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    transition: $__transitionTransform;
  }
  &.active {
    box-shadow: 1px 2px 4px 1px rgba(175, 175, 175, 0.5);
    color: $__grey400;
    &::after {
      transform: rotate(180deg);
      transition: $__transitionTransform;
    }
  }
}

.search--select-placeholder,
.search--dropdown {
  width: 10rem;
  height: 100%;
}

.search--select-placeholder,
.search--select-label {
  padding-left: 0.5rem;
  background-color: $__main;
}

.search--dropdown {
  height: 0;
  position: relative;
  overflow: hidden;

  transition: all 350ms ease-out;

  &.show {
    height: 300%;
    transition: all 350ms ease-out;
  }
}

.search--select {
  &-options {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-option {
    display: none;
  }
  &-label {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: $__primary_light;
      color: $__main;
    }
  }
}
