.navbar--secondary {
  z-index: 2;
  position: fixed;
  top: 4rem;
  right: 0;

  height: 100%;

  width: 0;
  box-shadow: none;
  overflow: hidden;
  transition: all 350ms ease-out;

  &[data-visible='true'] {
    width: calc(100% - 4.75rem);
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(175, 175, 175, 0.5), rgba(255, 255, 255, 1) 1%);
    box-shadow: -10px 0px 5px -5px rgba(175, 175, 175, 0.7);
    transition: all 350ms ease-out;
  }

  &.hide {
    width: 0;
    box-shadow: none;
    overflow: hidden;
  }
}

.menu--toggler-secondary {
  @include width-height(100%, 2rem);
  @include transition($__transitionAll5);
  margin: 3rem 2rem;

  cursor: pointer;
}

.toggler-secondary-burger {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.5rem;

  &::before {
    content: url('../../../../assets/images/icon/navbar/burger.svg');
    rotate: 90deg;
    position: absolute;
    left: 0;
    width: 2rem;
  }
}
