.section--listGames {
  background-color: #000;
  color: $__main;
  padding: 2rem 1rem;
}

.listGames--container-desc {
  h1 {
    font-family: $__body__font__bold_family;
  }
  h2 {
    font-size: 1rem;
  }
}

.listGames--container-swiper {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 2px;

  .swiper-wrapper {
    margin: 2rem 0 4rem;

    .swiper-slide {
      height: calc(100% - 20px) / 2;
    }

    .swiper-slide {
      figure {
        margin: 0;
      }
      figcaption {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        height: 45px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 1/1;
      }
    }
  }
  .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      border-radius: 0;
      background: $__main;
      vertical-align: middle;

      span {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        position: relative;
        top: -8px;
      }
    }
  }
}

.listGames--navigation {
  display: none;
}

@media only screen and (width > 768px) {
  .section--listGames {
    position: relative;
    display: flex;

    padding-left: 6rem;
    overflow: hidden;
  }

  .listGames--container-swiper {
    .swiper-wrapper {
      .swiper-slide {
      }
    }
  }

  .listGames--navigation {
    z-index: 1000;
    position: absolute;
    right: 10%;
    display: flex;
    gap: 1rem;

    &-left,
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
    }
    &-left {
      span {
        position: relative;
        top: 0.1rem;
        left: 0.25rem;
      }
    }
    &-right {
      span {
        position: relative;
        top: 0.1rem;
        left: 0.09rem;
      }
    }
  }

  .listGames--container {
    z-index: 1;
    width: 90%;
    height: 100%;
    margin-right: 3rem;
    position: relative;

    &[data-slide='1'] {
      order: 1;
      opacity: 1;
    }
    &[data-slide='1'].leftIn {
      animation: sliderLeftIn $__transitionInDelay ease forwards;
    }
    &[data-slide='1'].rightOut {
      animation: sliderRightOut $__transitionInDelay ease forwards;
    }
    &[data-slide='2'] {
      order: 2;
      opacity: 0.4;
    }
    &[data-slide='2'].leftOut {
      animation: sliderLeftOut ($__transitionInDelay - 200ms) ease forwards,
        150ms opacityLeft ($__transitionInDelay - 100ms) ease forwards;
    }
    &[data-slide='2'].rightIn {
      animation: sliderRightIn ($__transitionInDelay - 200ms) ease forwards,
        $__transitionInDelay opacityRight ($__transitionInDelay - 400ms) ease forwards;
    }
  }

  .listGames--container-swiper {
    .swiper-wrapper {
      margin-bottom: 0;
    }
  }
}

@keyframes sliderLeftIn {
  0% {
    transform: translateX(100%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes sliderLeftOut {
  0% {
    transform: translateX(-120%);
    opacity: 1;
  }
  99% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes opacityLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    opacity: 0.4;
  }
}
@keyframes sliderRightIn {
  0% {
    transform: translateX(0%);
    opacity: 0.4;
  }
  1% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
@keyframes opacityRight {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-105%);
    opacity: 1;
  }
}
@keyframes sliderRightOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(105%);
    opacity: 0.4;
  }
}
