.section--top {
  color: $__main;

  &-slide {
    position: relative;
  }
}

.top--slide {
  &-desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    bottom: 0;
  }
}

.slide--desc {
  &-logo {
    min-width: 100px;
    max-width: 300px;
    margin-bottom: 0.75rem;
  }
  &-top {
    height: 100%;
    width: 100%;

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      position: relative;

      div {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 1.25rem;
        }
      }
    }
  }

  &-bottom {
    padding: 0.75rem 1rem 2rem;
    text-align: center;

    p {
      max-width: 520px;
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.slide--desc-logo {
  &.ps-live {
    width: 150px;
  }
}

.section--thumbnail {
  &-slide {
    height: 126px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    outline: 2px solid transparent;

    &.swiper-slide-active {
      transition: outline 500ms ease-out;
      border: 2px solid $__main;
      outline: 2px solid $__primary_light;
    }
  }
}
